asgiref==3.2.7
Django==3.1.12
gunicorn==20.0.4
joblib==1.2.0
mysql-connector==2.2.9
mysqlclient==1.4.6
numpy==1.18.3
pandas==1.0.3
pickle-mixin==1.0.2
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
SQLAlchemy==1.3.16
sqlparse==0.3.1